 {%extends 'base.html'%}
 {%block title%}<title>Add parcel</title>{%endblock%}
 {%block content%}
 <div class="content-body">
            <div class="container-fluid">
                <div class="row page-titles mx-0">
                    <div class="col-sm-6 p-md-0">
                        <div class="welcome-text">
                            <h4>Add New Parcel</h4>
                            <span>Create a new parcel delivery request with complete shipping details</span>
                        </div>
                    </div>
                    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'dashboard'%}">Home</a></li>
                            <li class="breadcrumb-item"><a href="{% url 'parcel'%}">Parcels</a></li>
                            <li class="breadcrumb-item active"><a href="{% url 'add_parcel'%}">Add Parcel</a></li>
                        </ol>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-8">
                        <!-- Parcel Form -->
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Parcel Information</h4>
                            </div>
                            <div class="card-body">
                                <form method="POST">
                                    <!-- Sender Info -->
                                     {%csrf_token%}
                                    
                                    
                                   

                                   
                                    <!-- Receiver Info -->
                                    <h5 class="mb-3"><i class="fas fa-user-check text-success mr-2"></i>Receiver Information</h5>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Receiver Name *</label>
                                               {{form.parcels_customer_name}}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Phone *</label>
                                                {{form.parcels_customer_phone}}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Alternative Phone </label>
                                                {{form.parcels_customer_phone2}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Cash collection *</label>
                                                {{form.parcels_cash_collection}}
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Weight (kg) *</label>
                                                {{form.parcels_weight_kg}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Full Address *</label>
                                                {{ form.parcels_customer_address}}
                                            </div>
                                        </div>
                                    </div>

                                     <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>service *</label>
                                                {{form.parcels_service_id}}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Area</label>
                                                
                                                    {{form.delivery_area}}
                                                
                                            </div>
                                        </div>
                                    </div>

                                     <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Merchant</label>
                                                {{form.parcels_merchant_id}}
                                            </div>
                                        </div>
                                    </div>

                                    <hr>

                                    <!-- Parcel Details -->
                                    
                                    
                                    
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Description *</label>
                                                {{form.parcels_item_desc}}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Note </label>
                                                {{form.parcels_note}}
                                            </div>
                                        </div>
                                    </div>
                                    
                                   

                                    <hr>

                                    <!-- Service Options -->
                                    
                                    <div class="row">
                                        
                                       
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Options</label>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" id="insurance">
                                                    <label class="form-check-label">Insurance (+৳20)</label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" id="sms" checked>
                                                    <label class="form-check-label">SMS Notifications</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-actions text-right">
                                        <button type="button" class="btn btn-secondary mr-2" onclick="history.back()">Cancel</button>
                                        <button type="button" class="btn btn-warning mr-2" id="saveDraft">Save Draft</button>
                                        <button type="submit" class="btn btn-success">Create Parcel</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4">
                        <!-- Cost Calculator -->
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Cost Calculator</h4>
                            </div>
                            <div class="card-body">
                                <div class="cost-breakdown">
                                    <div class="d-flex justify-content-between mb-2">
                                        <span>Charge:</span>
                                        <span id="chargeAmount">৳0.00</span>
                                    </div>
                                    <div class="d-flex justify-content-between mb-2">
                                        <span>Payable:</span>
                                        <span id="payableAmount">৳0.00</span>
                                    </div>
                                    <div class="d-flex justify-content-between mb-2">
                                        <span>Insurance:</span>
                                        <span id="insuranceCharge">৳0</span>
                                    </div>
                                    <hr>
                                    <div class="d-flex justify-content-between">
                                        <strong>Total:</strong>
                                        <strong class="text-success" id="totalAmount">৳0</strong>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-primary btn-block mt-3" id="calculateCost">
                                    Calculate Cost
                                </button>
                            </div>
                        </div>

                        <!-- Quick Actions -->
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Quick Actions</h4>
                            </div>
                            <div class="card-body">
                                <a href="bulk-import.html" class="btn btn-info btn-block mb-2">
                                    <i class="fas fa-upload mr-2"></i>Bulk Import
                                </a>
                                <a href="../parcels/parcels.html" class="btn btn-secondary btn-block">
                                    <i class="fas fa-list mr-2"></i>View All Parcels
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


<script>
document.addEventListener("DOMContentLoaded", function () {
    const cashInput = document.getElementById("id_parcels_cash_collection");
    const weightInput = document.getElementById("id_parcels_weight_kg");
    const areaInput = document.getElementById("id_delivery_area");
    const serviceInput = document.getElementById("id_parcels_service_id");
    const insuranceCheckbox = document.getElementById("insurance");

    const chargeSpan = document.getElementById("chargeAmount");
    const insuranceSpan = document.getElementById("insuranceCharge");
    const payableSpan = document.getElementById("payableAmount");
    const totalSpan = document.getElementById("totalAmount");
    const calcBtn = document.getElementById("calculateCost");

    if (!serviceInput) return;

    async function fetchCharge() {
        const serviceId = serviceInput.value;
        const weight = weightInput ? weightInput.value : "";
        const area = areaInput ? areaInput.value : "";

        if (!serviceId) return 0;

        const url = `/ajax/calc-charge/?service_id=${encodeURIComponent(serviceId)}&weight=${encodeURIComponent(weight)}&area=${encodeURIComponent(area)}`;

        try {
            const resp = await fetch(url, { method: "GET" });
            if (!resp.ok) return 0;
            const data = await resp.json();
            return parseFloat(data.charge) || 0;
        } catch (err) {
            console.error("fetchCharge error", err);
            return 0;
        }
    }

    async function updateCosts() {
        const baseCharge = await fetchCharge();

        const insurance = insuranceCheckbox && insuranceCheckbox.checked ? 20 : 0;
        const selectedPrice = baseCharge + insurance;

        const cash = cashInput ? parseFloat(cashInput.value || 0) : 0;
        const payable = selectedPrice - cash;

        // Update UI exactly like model calculation
        chargeSpan.textContent = "৳" + baseCharge.toFixed(2);
        insuranceSpan.textContent = "৳" + insurance.toFixed(2);
        payableSpan.textContent = "৳" + payable.toFixed(2);
        totalSpan.textContent = "৳" + selectedPrice.toFixed(2);
    }

    [cashInput, weightInput, areaInput, serviceInput, insuranceCheckbox].forEach(el => {
        if (!el) return;
        el.addEventListener("input", updateCosts);
        el.addEventListener("change", updateCosts);
    });

    if (calcBtn) calcBtn.addEventListener("click", updateCosts);

    // initial calculation
    updateCosts();
});
</script>



{%endblock%}