{%extends 'base.html'%}
{%block title%}<title>Add Merchant</title>{%endblock%}
{%block content%}

<!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <div class="container-fluid">
                <div class="row page-titles mx-0">
                    <div class="col-sm-6 p-md-0">
                        <div class="welcome-text">
                            <h4>Add New Merchant</h4>
                            <span>Register a new merchant account</span>
                        </div>
                    </div>
                    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
                            <li class="breadcrumb-item"><a href="{% url 'merchant' %}">Merchants</a></li>
                            <li class="breadcrumb-item active"><a href="{% url 'addmerchant' %}">Add Merchant</a></li>
                        </ol>
                    </div>
                </div>

                {% if form.errors %}
                   <div class="alert alert-danger">
                  {{ form.errors }}
                  </div>
                {% endif %}

                <!-- Add Merchant Form -->
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Merchant Information</h4>
                            </div>
                            <div class="card-body">
                                <form method="POST" >
                                    {% csrf_token %}
                                    <!-- Basic Information -->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h5 class="mb-3">Basic Information</h5>
                                        </div>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="text-label">Business Name <span class="text-danger">*</span></label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="flaticon-381-briefcase"></i></span>
                                                    </div>
                                                    <input type="text" class="form-control" name="merchant_business_name" placeholder="Enter business name" required>
                                                </div>
                                            </div>
                                        </div>
                                       
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="text-label">Contact Person <span class="text-danger">*</span></label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="flaticon-381-user"></i></span>
                                                    </div>
                                                    <input type="text" class="form-control" name="merchant_name" placeholder="Enter contact person name" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="text-label">Phone Number <span class="text-danger">*</span></label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="flaticon-381-phone-call"></i></span>
                                                    </div>
                                                    <input type="tel" class="form-control" name="merchant_phone" placeholder="Enter phone number" required>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="text-label">Business Phone Number <span class="text-danger">*</span></label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="flaticon-381-phone-call"></i></span>
                                                    </div>
                                                    <input type="tel" class="form-control" name="merchant_business_number" placeholder="Enter Business phone number" required>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="text-label">Email Address <span class="text-danger">*</span></label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="flaticon-381-mail"></i></span>
                                                    </div>
                                                    <input type="email" class="form-control" name="merchant_email" placeholder="Enter email address" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="text-label">Website</label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="flaticon-381-internet"></i></span>
                                                    </div>
                                                    <input type="url" class="form-control" name="merchant_business_url" placeholder="https://example.com">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Address Information -->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h5 class="mb-3 mt-4">Address Information</h5>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="text-label">Business Address <span class="text-danger">*</span></label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="flaticon-381-location"></i></span>
                                                    </div>
                                                    <textarea class="form-control" rows="3" name="merchant_pickup_address" placeholder="Enter complete business address" required></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    
                                       

                                    <!-- Business Details -->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h5 class="mb-3 mt-4">Business Details</h5>
                                        </div>
                                    </div>

                                    
                                       

                                    <div class="form-group">
                                        <label class="text-label">Business Description</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="flaticon-381-note"></i></span>
                                            </div>
                                            <textarea class="form-control" rows="4" name="merchant_business_description" placeholder="Describe the business, services, and specialties"></textarea>
                                        </div>
                                    </div>

                                    <!-- Payment Information 
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h5 class="mb-3 mt-4">Payment Information</h5>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="text-label">Payment Method <span class="text-danger">*</span></label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="flaticon-381-price-tag"></i></span>
                                                    </div>
                                                    <select class="form-control" >
                                                        <option value="">Select Payment Method</option>
                                                        <option value="credit_card">Credit Card</option>
                                                        <option value="bank_transfer">Bank Transfer</option>
                                                        <option value="cash">Cash</option>
                                                        <option value="check">Check</option>
                                                        <option value="digital_wallet">Digital Wallet</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="text-label">Credit Limit</label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="flaticon-381-price-tag"></i></span>
                                                    </div>
                                                    <input type="number" class="form-control" placeholder="Enter credit limit">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="text-label">Bank Name</label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="flaticon-381-bank"></i></span>
                                                    </div>
                                                    <input type="text" class="form-control" placeholder="Enter bank name">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="text-label">Account Number</label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="flaticon-381-id-card"></i></span>
                                                    </div>
                                                    <input type="text" class="form-control" placeholder="Enter account number">
                                                </div>
                                            </div>
                                        </div>
                                    </div>-->

                                    <!-- Account Settings -->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h5 class="mb-3 mt-4">Account Settings</h5>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="text-label">Username <span class="text-danger">*</span></label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="flaticon-381-user"></i></span>
                                                    </div>
                                                    <input type="text" class="form-control" name="merchant_username" placeholder="Enter username" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="text-label">Password <span class="text-danger">*</span></label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="flaticon-381-lock"></i></span>
                                                    </div>
                                                    <input type="password" class="form-control" name="merchant_password" placeholder="Enter password" required>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="text-label">Confirm Password <span class="text-danger">*</span></label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="flaticon-381-lock"></i></span>
                                                    </div>
                                                    <input type="password" class="form-control" name="confirm_password" placeholder="Confirm password" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="text-label">Account Status</label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="flaticon-381-flag"></i></span>
                                                    </div>
                                                    <select class="form-control" name="status">
                                                        <option value="approved">Active</option>
                                                        <option value="pending">Pending Approval</option>
                                                        <option value="rejected">Suspended</option>
                                                        <option value="inactive">Inactive</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="text-label">Merchant Type <span class="text-danger">*</span></label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="flaticon-381-briefcase"></i></span>
                                                    </div>
                                                     <input type="tel" class="form-control" name="merchant_category" >
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Additional Settings -->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h5 class="mb-3 mt-4">Additional Settings</h5>
                                        </div>
                                    </div>
<!--
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="text-label">Auto-approval</label>
                                                <div class="custom-control custom-switch">
                                                    <input type="checkbox" class="custom-control-input" >
                                                    <label class="custom-control-label" for="autoApproval">Automatically approve new orders</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="text-label">Priority Merchant</label>
                                                <div class="custom-control custom-switch">
                                                    <input type="checkbox" class="custom-control-input" >
                                                    <label class="custom-control-label" for="priorityMerchant">Mark as priority merchant</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="text-label">Email Notifications</label>
                                                <div class="custom-control custom-switch">
                                                    <input type="checkbox" class="custom-control-input" id="emailNotif" checked>
                                                    <label class="custom-control-label" for="emailNotif">Send email notifications</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="text-label">SMS Notifications</label>
                                                <div class="custom-control custom-switch">
                                                    <input type="checkbox" class="custom-control-input" id="smsNotif">
                                                    <label class="custom-control-label" for="smsNotif">Send SMS notifications</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->

                                    <!-- Action Buttons -->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="text-right mt-4">
                                                <a href="{% url 'merchant' %}" class="btn btn-light mr-2">Cancel</a>
                                                <button type="button" class="btn btn-info mr-2">Save Draft</button>
                                                <button type="submit" class="btn btn-primary">Create Merchant</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->
        {%endblock%}